<!doctype html>
<html lang="en">

  <head>
    <title>Shopper Dashboard</title>
    <% include ../partials/head %>
    <% include ../partials/scripts %>
  </head>

  <body>
    <div class="wrapper">
    <div class="sidebar" data-color="orange" data-image="/img/full-screen-image-3.jpg">
        <div class="logo">
          <a href="/" class="logo-text">Sway</a>
        </div>

    	<div class="sidebar-wrapper">

            <div class="user">
                <div class="photo">
                    <img src="/img/cafe.png">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        <%= fullName %>
                        <b class="caret"></b>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                        </ul>
                    </div>
                </div>
            </div>

            <ul class="nav">
              <li><a href="/business/dashboard"><i class="pe-7s-gift"></i><p>Dashboard</p></a></li>
              <li><a href="/business/new-campaign"><i class="pe-7s-graph"></i><p>New Campaign</p></a></li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">New Loyalty Program</a>
                </div>
                <div class="collapse navbar-collapse">

                    <form class="navbar-form navbar-left navbar-search-form" role="search">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" value="" class="form-control" placeholder="Search...">
                        </div>
                    </form>

                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-gavel"></i>
                                <p class="hidden-md hidden-lg">
                                    Actions
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <ul class="dropdown-menu">
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="notification">5</span>
                                <p class="hidden-md hidden-lg">
                    Notifications
                    <b class="caret"></b>
                  </p>
                            </a>
                            <ul class="dropdown-menu">
                            </ul>
                        </li>

                        <li class="dropdown dropdown-with-icons">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-list"></i>
                                <p class="hidden-md hidden-lg">
                    More
                    <b class="caret"></b>
                  </p>
                            </a>
                            <ul class="dropdown-menu dropdown-with-icons">
                                <li>
                                    <a href="/logout" class="text-danger">
                                        <i class="pe-7s-close-circle"></i>
                                        Log out
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
            </div>

  <div class="card">
      <div class="header"><h3 style="text-align:center;">Create New Loyalty Program</h3><hr></div>
      <div class="content">
          <form method="POST" action="/business/create-campaign" class="form-horizontal">
              <div class="form-group">
                  <label class="col-md-3 control-label">Name</label>
                  <div class="col-md-6">
                      <input name="campaignname" type="text" placeholder="Christmas Tea Lovers" class="form-control">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-3 control-label">Description</label>
                  <div class="col-md-6">
                      <input name="description" type="text" class="form-control" placeholder="Give your favorite teas some love this winter holidays to get extra rewards!">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-3 control-label">Number of Visits to Unlock Offer</label>
                  <div class="col-md-6">
                      <input name="numberofvisits" type="text" class="form-control" placeholder="6">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-3 control-label">Minimum Spend per Visit ($)</label>
                  <div class="col-md-6">
                      <input name="minimumspend" type="text" class="form-control" placeholder="4">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-3 control-label">Reward Description</label>
                  <div class="col-md-6">
                      <input name="rewarddescription" type="text" placeholder="Free medium-sized tea" class="form-control">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-3 control-label">Max Reward Value ($)</label>
                  <div class="col-md-6">
                      <input name="maxreward" type="text" placeholder="5" class="form-control">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-3 control-label">Start Date</label>
                  <div class="col-md-6">
                      <input name="startdate" type="text" class="form-control datetimepicker" placeholder="12/5/2016"/>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-3 control-label">End Date</label>
                  <div class="col-md-6">
                      <input name="enddate" type="text" class="form-control datetimepicker" placeholder="1/5/2016"/>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-3"></label>
                  <div class="col-md-9">
                      <button type="submit" class="btn btn-fill btn-info">Create</button>
                  </div>
              </div>
          </form>
      </div>
  </div> <!-- end card -->
  </div>
</div>
</div>

<% include ../partials/footer %>

  </body>
<script>
  $('.datetimepicker').datetimepicker({
    icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-chevron-up",
        down: "fa fa-chevron-down",
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
        today: 'fa fa-screenshot',
        clear: 'fa fa-trash',
        close: 'fa fa-remove'
    }
});
</script>
</html>
