<!-- Bootstrap elements borrowed from Creative Tim at http://www.creative-tim.com/ -->

<!doctype html>
<html lang="en">

  <head>
    <title>Shopper Dashboard</title>
    <% include ../partials/head %>
    <% include ../partials/scripts %>
  </head>

  <body>
    <div class="wrapper">
    <div class="sidebar" data-color="orange" data-image="/img/full-screen-image-3.jpg">
        <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->

        <div class="logo">
            <a href="/" class="logo-text">
                Sway
            </a>
        </div>

    	<div class="sidebar-wrapper">

            <div class="user">
                <div class="photo">
                    <img src="/img/joe.jpeg">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        <%= fullName %>
                        <b class="caret"></b>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                        </ul>
                    </div>
                </div>
            </div>

            <ul class="nav">
              <li><a href="/shopper/rewards"><i class="pe-7s-gift"></i><p>Rewards</p></a></li>
              <li><a href="/shopper/spending"><i class="pe-7s-graph"></i><p>Spending</p></a></li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">My Rewards</a>
                </div>
                <div class="collapse navbar-collapse">

                    <form method="#" class="navbar-form navbar-left navbar-search-form" role="search">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" value="" class="form-control" placeholder="Search...">
                        </div>
                    </form>

                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-gavel"></i>
                                <p class="hidden-md hidden-lg">
                                    Actions
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <ul class="dropdown-menu">
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="notification"></span>
                                <p class="hidden-md hidden-lg">
                    Notifications
                    <b class="caret"></b>
                  </p>
                            </a>
                            <ul class="dropdown-menu">
                            </ul>
                        </li>

                        <li class="dropdown dropdown-with-icons">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-list"></i>
                                <p class="hidden-md hidden-lg">
                    More
                    <b class="caret"></b>
                  </p>
                            </a>
                            <ul class="dropdown-menu dropdown-with-icons">
                                <li>
                                    <a href="/logout" class="text-danger">
                                        <i class="pe-7s-close-circle"></i>
                                        Log out
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
            </div>
                <div class="row">
                  <div class="col-md-4">
                      <div class="card">
                          <div class="header">
                              Chipotle
                              <!-- <p class="category">Pie Chart</p> -->
                          </div>
                          <div class="content">
                              <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
                          </div>
                          <div class="footer">
                              <h6>Legend</h6>
                               <i class="fa fa-circle text-info"></i> Progress
                               <!-- <i class="fa fa-circle text-warning"></i> Samsung -->
                               <i class="fa fa-circle text-danger"></i> Remaining
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4">
                      <div class="card">
                          <div class="header">
                              Whole Foods
                              <!-- <p class="category">Pie Chart</p> -->
                          </div>
                          <div class="content">
                              <div id="chartPreferences2" class="ct-chart ct-perfect-fourth"></div>
                          </div>
                          <div class="footer">
                              <h6>Legend</h6>
                               <i class="fa fa-circle text-info"></i> Progress
                               <!-- <i class="fa fa-circle text-warning"></i> Samsung -->
                               <i class="fa fa-circle text-danger"></i> Remaining
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4">
                      <div class="card">
                          <div class="header">
                              Home Depot
                              <!-- <p class="category">Pie Chart</p> -->
                          </div>
                          <div class="content">
                              <div id="chartPreferences3" class="ct-chart ct-perfect-fourth"></div>
                          </div>
                          <div class="footer">
                              <h6>Legend</h6>
                               <i class="fa fa-circle text-info"></i> Progress
                               <!-- <i class="fa fa-circle text-warning"></i> Samsung -->
                               <i class="fa fa-circle text-danger"></i> Remaining
                          </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                            <div class="card">


            <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
          </div><br>
              <h2 style="text-align:center">Suggested Rewards Programs</h2><hr>
              <table class="table table-striped">
      <thead>
          <tr>
              <th class="text-center">Business</th>
              <th class="text-center">Goal</th>
              <th class="text-center">Reward</th>
              <th class="text-right">Active</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td class="text-center">Chipotle</td>
              <td class="text-center">5 visits @ $8/visit</td>
              <td class="text-center">Free chips w/ dip up to $5 value</td>
               <td class="text-right">
                  <div class="switch"
                       data-on-label=""
                       data-off-label="">
                       <input type="checkbox" checked/>
                  </div>
              </td>
          </tr>
          <tr>
              <td class="text-center">Whole Foods</td>
              <td class="text-center">9 visits @ $25/visit</td>
              <td class="text-center">$25 off your next purchase</td>
               <td class="text-right">
                  <div class="switch"
                       data-on-label=""
                       data-off-label="">
                       <input type="checkbox" checked/>
                  </div>
              </td>
          </tr>
          <tr>
              <td class="text-center">Sally's Bakeru</td>
              <td class="text-center">7 purchases @ $10/purchase</td>
              <td class="text-center">$10 off your 8th purchase</td>
               <td class="text-right">
                  <div class="switch"
                       data-on-label=""
                       data-off-label="">
                       <input type="checkbox"/>
                  </div>
              </td>
          </tr>
          <tr>
              <td class="text-center">Duke's Barber Shop</td>
              <td class="text-center">4 haircuts @ $15/haircut</td>
              <td class="text-center">50% off your 5th haircut</td>
               <td class="text-right">
                  <div class="switch"
                       data-on-label=""
                       data-off-label="">
                       <input type="checkbox"/>
                  </div>
              </td>
          </tr>
          <tr>
              <td class="text-center">Home Depot</td>
              <td class="text-center">5 visits @ $80/visit</td>
              <td class="text-center">$50 discount on any home appliance</td>
               <td class="text-right">
                  <div class="switch"
                       data-on-label=""
                       data-off-label="">
                       <input type="checkbox" checked/>
                  </div>
              </td>
          </tr>
      </tbody>
  </table>
          </div>
        </div>
      </div>
              </div>
            </div>
          </div>
        </div>
        <% include ../partials/footer %>
      </body>
      <script>
        $().ready(function(){
            demo.initCharts();
        });
      </script>
      </html>
